body
{
    font-family: 'Raleway', serif;
}

#bloc_page
{
    width: 98%;
    margin: auto;
}

.gras 
{
    font-weight: bold;
}

.gris
{
    color: #d9d9d9;
}

a
{
    text-decoration: none;
    color: black;
    width: 100%;
}

/** Header **/
header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#booki_img
{
    margin: 10px 0;
}

#nav
{
    display:flex;
}

.nav_bouton
{
    width: 170px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bouton:hover
{
    border-top: 2px solid #0065FC;
    margin-top: -2px;
    color: #0065FC;
}
/** Fin du Header **/

h1
{
    font-size: 25px;
}

/** Formulaire de recherche**/
form
{
    display: flex;
    width: 450px;
    border: 1px solid #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}

.loupe
{
    display: none;
}

#lieu
{
    border: none;
    width: 100%;
    font-size: 17px;
}

.lieu_icone
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-width: 20px;
    border-radius: 15px 0px 0px 15px;
}

.submit
{
    font-size:large;
    color: white;
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
}

/** Fin de formulaire de recherche **/

/** Partie Filtres **/
#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    align-items: baseline;
}

.filtre_bloc
{
    display: flex;
    flex-wrap: wrap;
}

.filtre
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 5px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
}

.icone
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #deebff;
    border-radius: 20px;
    color: #0065FC;
    width: 45px;
    height: 45px;
}

.filtre_text
{
    margin: 0px 20px 0 10px;
    font-size: large;
    font-weight: bold;
}

.filtre:hover
{
    box-shadow: 3px 3px 3px #deebff;
}

/** Fin partie Filtres **/

.loge_dispo
{
    display: flex;
    align-items: baseline;
}

.text_info
{
    margin-left: 5px;
}

/** Section Hébergements à Marseille et les plus populaires **/

#hebergements_et_pop
{
    display: flex;
}

.hebergements_marseille, .populaires
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
}

.hebergements_marseille
{
    width: 67%;
    margin-right: 15px;
}

.populaires
{
    width: 33%;
}

.h2_style
{
    margin: 20px 0 0 20px;
}

.p_style
{
    margin: 10px 0px 25px 20px;
}

.fa-chart-line 
{
    width: 35px;
}

.hebergements_bloc, .populaires_bloc
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10px 10px 10px;
}

.card_hebergements
{
    display: flex;
    width: 30%;
    height: 260px;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    box-shadow: 1px 1px 10px #d9d9d9;
    padding: 5px;
    margin: 10px 0;
}

.card_body
{
    text-align: left;
    width: 90%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_titre 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 67%;
}

.p_hebergements
{
    margin: 5px 0;
}

.card_image
{
    height: 135px;
}

.card_image img
{
    width: 100%;
    height: 135px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

h3
{
    margin: 0;
}

.card_note
{
    color: #0065FC;
}

.titre
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.a_hebergements
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.a_populaires
{
    display: flex;
}

.card_pop
{
    display: flex;
    width: 100%;
    height: 170px;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    padding: 5px;
    margin: 10px 10px;
}

.card_body_pop
{
    font-size: 15px;
    margin-left: 10px;
    height: 85%;
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_image_pop
{
    min-width: 35%;
    max-width: 35%;
    height: 100%;
}

.card_image_pop img
{
    width: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    height: 100%;
}

/** Fin de section Hébergements à Marseille et les plus populaires **/

/** Section Activités à Marseille **/

#activites_marseille, .activites_card, .activites_card_paysage, .row
{
    display: flex;
}

#activites_marseille
{
    flex-direction: column;
    width: 100%;
}

.activites_marseille_bloc
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activites_card
{
    width: 23%;
    height: 413px;
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
}

.card_image_portrait img
{
    width: 100%;
    height: 362px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites_card_paysage
{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d9d9d9;
    margin-bottom: 10px;
}

.card_image_paysage
{
    height: 150px;
}

.card_image_paysage img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card_titre_activites
{
    display: flex;
    height: 47px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 10px;
}

.fort_pomegues
{
    height: 55%;
}

.pomegues_image
{
    height: 80%;
}

.frioul
{
    height: 40%;
    margin-bottom: 0;
}

.frioul_image
{
    height: 70%;
}

.row
{
    flex-direction: column;
    width: 23%;
    margin: 10px 0;
    height: 425px;
}

/** Fin de section Activités à Marseille **/

.card_hebergements:hover, .card_pop:hover, .activites_card:hover, .activites_card_paysage:hover
{
    box-shadow: 10px 10px 10px #d9d9d9;
}

/** Footer **/

footer
{
    width: 100%;
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 40px 0px;
}

.bloc_footer
{
    width: 30%;
    flex-direction: column;
    margin-left: 35px;
    font-size: medium;
}

ul
{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li
{
    margin: 10px 0;
}

.a_footer:hover
{
    text-decoration: underline;
}

footer, .bloc_footer
{
    display: flex;
}

/** Fin de Footer **/

/** Media Queries **/

@media screen and (max-width: 992px)
{
    #hebergements_et_pop
    {
        flex-wrap: wrap-reverse;
    }
    .populaires, .card_pop, .hebergements_marseille
    {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px)
{
    #bloc_page
    {
        margin: 0;
        width: 100%;
    }

    #booki_img
    {
        margin: auto;
    }

    #nav
    {
        width: 100%;
    }

    .nav_bouton
    {
        width: 100%;
        height: 35px;
        font-size: large;
        border-bottom: 3px solid #f2f2f2;
    }

    .nav_bouton:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    form
    {
        width: 100%;
    }

    .submit
    {
        display: none;
    }

    .loupe
    {
        display: flex;
        width: 100px;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 15px 15px 15px 15px;
    }

    .hebergements_bloc
    {
        margin: 0;
    }

    .hebergements_marseille, #activites_marseille
    {
        background-color: white;
        margin: auto;
        width: 97%;
    }

    .p_style {
        margin: 10px 0px 10px 5px;
    }

    .h2_style2
    {
        margin: 20px 0 10px 0;
    }

    .card_hebergements
    {
        width: 100%;
        height: 210px;
    }

    .card_image
    {
        height: 50%;
    }

    .card_image img 
    {
        height: 100%;
    }

    .populaires
    {
        border-radius: 0%;
    }

    #activites_marseille
    {
        justify-content: space-between;
    }

    .row
    {
        width: 100%;
        margin: 50px 0;
    }

    .activites_marseille_bloc, .row
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .activites_card
    {
        width: 100%;
        height: 200px;
        margin: 0;
        margin-bottom: -35px;
    }

    .activites_card_paysage
    {
        width: 100%;
        height: 200px;
        margin: 15px 0;
    }

    .card_image_portrait img
    {
        height: 150px;
    }

    .frioul_image, .pomegues_image
    {
        height: 78%;
    }

    footer 
    {
        flex-direction: column;
    }

    .bloc_footer
    {
        width: 100%;
    }
    
/** Fin de Media Queries **/
}