body
{
    font-family: 'Raleway', serif;
}

#bloc_page
{
    width: auto;
    margin: auto;
}

/** Header **/
header
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

#booki_img
{
    padding: 20px 30px;
}

#nav
{
    width: 30%;
    margin-right: 5%;
    display:flex;
}

.nav_bouton
{
    padding: 50px 30px;
    font-size: large;
}

.nav_bouton:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

a
{
    text-decoration: none;
    color: black;
}
/** Fin du Header **/

h1
{
    font-size: 25px;
}

h2
{
    margin: 0px 0 5px 15px;
    padding-top: 15px;
}

/** Formulaire de recherche**/
form
{
    display:flex;
}

input
{
    border: 1px solid #f2f2f2;
}

#lieu_icon
{
    border: 1px solid #f2f2f2;
    border-width: 20px;
    border-radius: 15px 0px 0px 15px;
}

.submit
{
    font-size:large;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-right: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
}
/** Fin de formulaire de recherche **/

/** Partie Filtres **/
#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 10px 0;
    align-items: baseline;
}

.filtre
{
    display: flex;
    align-items: baseline;
    margin: 5px 5px;
    justify-content: flex-start;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    padding: 10px 15px;
}

.filtre:hover
{
    box-shadow: 3px 3px 3px #deebff;
}

.filtre_text
{
    margin: -5px 15px;
    font-size: large;
}

.icone
{
    background-color: #deebff;
    margin: -10px -10px -10px -15px;
    padding: 10px;
    border: 2px solid #deebff;
    border-radius: 20px;
}

.loge_dispo
{
    display: flex;
    align-items: baseline;
}
/** Fin partie Filtres **/

.text_info
{
    margin-left: 5px;
}

/** Section Hébergements à Marseille et les plus populaires **/

.hebergements_marseille, .populaires
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.hebergements_marseille
{
    width: 60%;
    margin-right: 15px;
}

.populaires
{
    width: 350px;
}

.card_hebergements, .card_pop
{
    display: flex;
    box-shadow: 1px 1px 80px #f2f2f2;
}

#hebergements_et_pop
{
    display: flex;
    flex-wrap: wrap-reverse;
}

.hebergements_card, .populaires_card
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_hebergements
{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    margin: 10px 5px;
}

.card_body
{
    text-align: left;
    font-size: 15px;
    line-height: 5px;
}


.card_image img
{
    width: 250px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    max-height: 100px;
}

.titre
{
    display: flex;
}

.triche
{
    display: flex;
}

.card_pop
{
    width: 300px;
    height: 130px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 5px;
}

.card_body_pop
{
    font-size: 15px;
    margin-left: 10px;
}

.card_image_pop img
{
    width: 100px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    height: 130px;
}

/** Fin de section Hébergements à Marseille et les plus populaires **/

/** Section Activités à Marseille **/

#activites_marseille, .activites_card
{
    display: flex;
}

#activites_marseille
{
    flex-direction: column;
}

.activites_marseille_bloc
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites_card:nth-child(3)
{
    align-self: flex-end;
}

.activites_card
{
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 1px 1px 80px #f2f2f2;
    margin: auto;
}

.activites_card_paysage
{
    width: 250px;
    height: 200px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 80px #f2f2f2;
}

.card_image_portrait img
{
    width: 300px;
    height: 450px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.card_image_paysage img
{
    width: 250px;
    height: 150px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

/** Fin de section Activités à Marseille **/

/** Media Queries **/

@media screen and (max-width: 992px)
{
    #nav
    {
        margin: auto;
    }
    .hebergements_et_pop
    {
        width: 100%;
    }

    .populaires, .card_pop, .hebergements_marseille
    {
        width: 100%;
    }

    .hebergements_marseille
    {
        background-color: white;
    }
}

@media screen and (max-width: 768px)
{
    .populaires
    {
        border-radius: 0%;
    }

    .card_hebergements
    {
        width: 100%;
    }

    #booki_img
    {
        margin: inherit;
        padding: 0%;
    }

    #nav
    {
        width: 100%;
    }

    .nav_bouton
    {
        width: 50%;
        padding: 10px 30px;
        font-size: large;
        border-bottom: 3px solid #f2f2f2;
    }

    .nav_bouton:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    
/** Fin de Media Queries **/
}