body
{
    font-family: 'Raleway', serif;
}

#bloc_page
{
    width: 90%;
    margin-left: 20px;
}

/** Header **/
header
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5%;
}

#booki_img
{
    padding: 20px 30px;
}

#nav
{
    width: 30%;
    display:flex;
    justify-content: center;
}

.nav_bouton
{
    padding: 40px;
    font-size: large;
    display: flex;
    justify-content: center;
}

.nav_bouton:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

a
{
    text-decoration: none;
    color: black;
    width: 100%;
}
/** Fin du Header **/

h1
{
    font-size: 25px;
}

.h2_style
{
    margin: 0px 0 5px 15px;
    padding-top: 15px;
}

/** Formulaire de recherche**/
form
{
    display:flex;
}

input
{
    border: 1px solid #f2f2f2;
}

#lieu_icon
{
    border: 1px solid #f2f2f2;
    border-width: 20px;
    border-radius: 15px 0px 0px 15px;
}

.submit
{
    font-size:large;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-right: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
}
/** Fin de formulaire de recherche **/

/** Partie Filtres **/
#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 10px 0;
    align-items: baseline;
}

.filtre
{
    display: flex;
    align-items: baseline;
    margin: 5px 5px;
    justify-content: flex-start;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    padding: 10px 15px;
}

.filtre:hover
{
    box-shadow: 3px 3px 3px #deebff;
}

.filtre_text
{
    margin: -5px 15px;
    font-size: large;
}

.icone
{
    background-color: #deebff;
    margin: -10px -10px -10px -15px;
    padding: 10px;
    border: 2px solid #deebff;
    border-radius: 20px;
}

.loge_dispo
{
    display: flex;
    align-items: baseline;
}
/** Fin partie Filtres **/

.text_info
{
    margin-left: 5px;
}

/** Section Hébergements à Marseille et les plus populaires **/

.hebergements_marseille, .populaires
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
}

.hebergements_marseille
{
    width: 65%;
    margin-right: 15px;
}

.populaires
{
    min-width: 253px;
    max-width: 27%;
}

.card_hebergements, .card_pop
{
    display: flex;
    box-shadow: 1px 1px 80px #f2f2f2;
}

#hebergements_et_pop
{
    display: flex;
    flex-wrap: wrap-reverse;
}

.hebergements_card, .populaires_card
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 10px;
}

.card_hebergements
{
    width: 30%;
    height: 45%;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #f2f2f2;
    padding: 5px;
    margin: 10px 0;
}

.card_body
{
    text-align: left;
    width: 100%;
    margin: auto;
}

.card_image
{
    height: 40%;
}

.card_image img
{
    width: 100%;
    max-height: 135px;
    min-height: 135px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.card_note
{
    color: #0065FC;
}
.titre
{
    display: flex;
}

.a_hebergements
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.a_populaires
{
    display: flex;
}

.card_pop
{
    width: 100%;
    height: 28%;
    max-height: 30%;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #f2f2f2;
    padding: 5px;
    margin: 10px 10px;
}

.card_body_pop
{
    font-size: 15px;
    margin-left: 10px;
    height: 100%;
}

.card_image_pop
{
    min-width: 35%;
    max-width: 35%;
    height: 100%;
}

.card_image_pop img
{
    width: 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    height: 100%;
}

/** Fin de section Hébergements à Marseille et les plus populaires **/

/** Section Activités à Marseille **/

#activites_marseille, .activites_card, .activites_card_paysage, .row
{
    display: flex;
}

#activites_marseille
{
    flex-direction: column;
    width: 100%;
}

.activites_marseille_bloc
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.activites_card
{
    flex-direction: row;
    margin: auto;
    width: 20%;
    height: 413px;
    margin: 10px 20px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;
}

.card_image_portrait img
{
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites_card_paysage
{
    width: 100%;
    height: 200px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #f2f2f2;
    margin-bottom: 10px;
    box-sizing:content-box;
}

.card_image_paysage img
{
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.row
{
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 400px;
}

/** Fin de section Activités à Marseille **/

/** Footer **/

ul
{
    list-style-type: none;
    padding-left: 0;
}

footer, .bloc_footer
{
    display: flex;
}

footer
{
    width: 90%;
    margin-top: 20px;
    background-color: #f2f2f2;
}

.bloc_footer
{
    width: 30%;
    flex-direction: column;
    margin-left: 35px;
    font-size: medium;
}

/** Fin de Footer **/

/** Media Queries **/

@media screen and (max-width: 992px)
{

    .populaires, .card_pop, .hebergements_marseille
    {
        width: 100%;
    }

    .populaires
    {
        max-width: 100%;
    }

    .card_image_pop
    {
        max-height: 200px;
    }

    .card_hebergements
    {
        height: 270px;
    }
}

@media screen and (max-width: 768px)
{
    .populaires
    {
        border-radius: 0%;
    }

    .card_hebergements
    {
        width: 100%;
    }

    .hebergements_marseille
    {
        background-color: white;
    }

    #nav
    {
        width: 100%;
    }

    .nav_bouton
    {

        padding: 10px 30px;
        font-size: large;
        border-bottom: 3px solid #f2f2f2;
    }

    .nav_bouton:hover
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }

    .activites_marseille_bloc, .row
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .activites_card
    {
        width: 100%;
        height: 200px;
        margin: 10px;
    }

    .row
    {
        width: 100%;
    }

    .card_image_portrait img 
    {
        height: 150px;
    }

    footer 
    {
        flex-direction: column;
    }

    .bloc_footer
    {
        width: 50%;
    }
    
/** Fin de Media Queries **/
}